{% load static %}
<html>
    <head>
        <title>Santhome Cathedral Basilica</title>
        <link rel="stylesheet" href="{% static 'CSS.css' %}">
        <link rel="icon" href="{% static 'churchicon.png' %}"
    </head>

    <body class="new-page church1">
        <center>
            <h2 class="page-title">Santhome Cathedral Basilica, Mylapore</h2>
            <img src="{% static 'santhome.jpg'%}" height="600" width="700">
            <div class="right-text">
        <p>
            Santhome Cathedral Basilica is a historic and revered church located along the Marina Beach in Chennai, Tamil Nadu. It is built over the tomb of St. Thomas the Apostle, who is believed to have brought Christianity to India and was martyred in the 1st century AD. Originally constructed by Portuguese explorers in the 16th century, it was later rebuilt as a Gothic-style cathedral by the British in the 19th century and declared a Minor Basilica by the Vatican in 1956. The basilica is famous for its stunning neo-Gothic architecture, tall spire, stained glass windows, and peaceful interiors, making it a major pilgrimage site for Christians and a popular tourist attraction in Chennai. Every year, thousands of devotees and visitors come to offer prayers and admire its historical and spiritual significance. Its location near the Marina Beach adds to its accessibility and prominence as one of Chennai’s most important religious landmarks.
        </p>
        </center>
    </div>
    </body>
</html>