{% load static %}
<html>
    <head>
        <title>T.Nagar</title>
        <link rel="stylesheet" href="{% static 'CSS.css' %}">
        <link rel="icon" href="{% static 'shopicon.png' %}"
    </head>
    <body class="new-page shop1">
        <center>
            <h2 class="page-title">Pondy Bazaar, T.Nagar</h2>
            <img src="{% static 'Tnagar.jpg' %}"height="600" width="690">
            <div class="right-text">
        <p>
            T. Nagar is one of Chennai’s most vibrant and bustling commercial hubs, famous for its shopping streets, jewelry stores, textile showrooms, and traditional South Indian clothing. It is considered the heart of Chennai’s retail scene, attracting shoppers from across the city and neighboring states, especially during festival seasons. Pondy Bazaar, located within T. Nagar, is one of the busiest streets, offering a mix of branded stores, street vendors, electronics shops, and food stalls. The area is always crowded with locals and tourists looking for bargains, festive shopping, or a lively market experience. T. Nagar and Pondy Bazaar are easily accessible by road, buses, and the Chennai Metro, and their mix of modern retail outlets and traditional bazaars reflects the city’s commercial energy. Beyond shopping, the area also has theaters, restaurants, and cultural landmarks, making it a complete destination for entertainment and urban life in Chennai.
        </p>
        </center>
        </div>
    </body>
</html>